# Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. 

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this tutorial we'll learn about the following:

    1.) Creating Strings
    2.) String Indexing and Slicing
    3.) String Properties
    4.) String Methods
    5.) Print Formatting

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [3]:
# Single word
a = 'hi'
print(a)

hi

In [5]:
# Entire phrase 
a ='This is first python string'
print(a)

This is first python string

In [4]:
# We can also use double quote
a = "String built with double quotes"
print(a)

String built with double quotes

In [6]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-6-da9a34b3dc31>, line 2)

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [8]:
a = "Now I'm ready to use the single quotes inside a string!"
print(a)

Now I'm ready to use the single quotes inside a string!

## String Basics

We can also use a function called len() to check the length of a string!

In [9]:
len('Hello World')

11

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [10]:
# Assign s as a string
s = 'Hello World'

In [11]:
#Check
s

'Hello World'

In [12]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [13]:
# Show first element (in this case a letter)
s[0]

'H'

In [14]:
s[1]

'e'

In [15]:
s[2]

'l'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [16]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [17]:
# Note that there is no change to the original s
s

'Hello World'

In [18]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [19]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [20]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [21]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [22]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [23]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [24]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

<table class="table table-bordered">
<tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts">+</td>
<td>Concatenation - Adds values on either side of the operator</td>
<td class="ts">a + b will give HelloPython</td>
</tr>
<tr>
<td class="ts">*</td>
<td>Repetition - Creates new strings, concatenating multiple copies of the same
string</td>
<td class="ts">a*2 will give -HelloHello</td>
</tr>
<tr>
<td class="ts">[]</td>
<td>Slice - Gives the character from the given index</td>
<td class="ts">a[1] will give e</td>
</tr>
<tr>
<td class="ts">[ : ]</td>
<td>Range Slice - Gives the characters from the given range</td>
<td class="ts">a[1:4] will give ell</td>
</tr>
<tr>
<td class="ts">in</td>
<td>Membership - Returns true if a character exists in the given string</td>
<td class="ts">H in a will give 1</td>
</tr>
<tr>
<td class="ts">not in </td>
<td>Membership - Returns true if a character does not exist in the given string</td>
<td class="ts">M not in a will give 1</td>
</tr>
<tr>
<td class="ts">r/R</td>
<td>Raw String - Suppresses actual meaning of Escape characters. The syntax for raw strings is exactly the same as for normal strings with the exception of the raw string operator, the letter "r," which precedes the quotation marks. The "r" can be lowercase (r) or uppercase (R) and must be placed immediately preceding the first quote mark.</td>
<td class="ts">print r'\n' prints \n and print R'\n'prints \n</td>
</tr>
<tr>
<td class="ts">%</td>
<td>Format - Performs String formatting</td>
<td class="ts">See at next section</td>
</tr>
</table>

<p>Here is the list of complete set of symbols which can be used along with % &minus;</p>
<table class="table table-bordered">
<tr>
<th style="text-align:center;width:30%">Format Symbol</th>
<th style="text-align:center;">Conversion</th>
</tr>
<tr>
<td class="ts">%c</td>
<td>character</td>
</tr>
<tr>
<td class="ts">%s</td>
<td>string conversion via str() prior to formatting</td>
</tr>
<tr>
<td class="ts">%i</td>
<td>signed decimal integer</td>
</tr>
<tr>
<td class="ts">%d</td>
<td>signed decimal integer</td>
</tr>
<tr>
<td class="ts">%u</td>
<td>unsigned decimal integer</td>
</tr>
<tr>
<td class="ts">%o</td>
<td>octal integer</td>
</tr>
<tr>
<td class="ts">%x</td>
<td>hexadecimal integer (lowercase letters)</td>
</tr>
<tr>
<td class="ts">%X</td>
<td>hexadecimal integer (UPPERcase letters)</td>
</tr>
<tr>
<td class="ts">%e</td>
<td>exponential notation (with lowercase 'e')</td>
</tr>
<tr>
<td class="ts">%E</td>
<td>exponential notation (with UPPERcase 'E')</td>
</tr>
<tr>
<td class="ts">%f</td>
<td>floating point real number</td>
</tr>
<tr>
<td class="ts">%g</td>
<td>the shorter of %f and %e</td>
</tr>
<tr>
<td class="ts">%G</td>
<td>the shorter of %f and %E</td>
</tr>
</table>

In [25]:
s

'Hello World'

In [26]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [14]:
s = 'Hello world'

In [15]:
# Concatenate strings!
s + ' Good Morning!'

'Hello world Good Morning!'

In [16]:
# We can reassign s completely though!
s = s + ' Good Morning!'

In [17]:
print(s)

Hello world Good Morning!

In [18]:
s

'Hello world Good Morning!'

We can use the multiplication symbol to create repetition!

In [21]:
letter = 'a'

In [22]:
letter*10

'aaaaaaaaaa'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [34]:
s

'Hello World concatenate me!'

In [35]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [36]:
# Lower case
s.lower()

'hello world concatenate me!'

In [37]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [38]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

###### str.capitalize()

In [57]:
str1 = "Hello world this is string example";
str1.capitalize()

'Hello world this is string example'

###### center(width, fillchar)

Returns a space-padded string with the original string centered to a total of width columns.

In [58]:
str1.center(40, 'a')

'aaaHello world this is string exampleaaa'

###### count(str, beg= 0,end=len(string))

Counts how many times str occurs in string or in a substring of string if starting index beg and ending index end are given.

In [59]:
sub = "i";
str1.count(sub, 4, 40)

3

In [60]:
sub = "this";
str1.count(sub)

1

###### isalnum()

Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.

In [61]:
str1='aai'
str1.isalnum()

True

###### isalpha()

Returns true if string has at least 1 character and all characters are alphabetic and false otherwise.

In [62]:
str1 = "Hello";  # No space & digit in this string
str1.isalpha()

True

In [63]:
str1 = "Hello world";
str1.isalpha()

False

###### isdigit()

Returns true if string contains only digits and false otherwise.

In [64]:
str1 = "123456";  # Only digit in this string
str1.isdigit()

True

In [65]:
str1 = "Hello World";
str1.isdigit()

False

###### islower()

Returns true if string has at least 1 cased character and all cased characters are in lowercase and false otherwise.

In [66]:
str1 = "hello"
str1.islower()

True

###### isnumeric()

Returns true if a unicode string contains only numeric characters and false otherwise.

In [67]:
str1 = '123'
str1.isnumeric()

True

###### isspace()

Returns true if string contains only whitespace characters and false otherwise.

In [68]:
str1 = '  '
str1.isspace()

True

###### istitle()

Returns true if string is properly "titlecased" and false otherwise.

In [69]:
str1 = "Hello World"
str1.istitle()

True

###### isupper()

Returns true if string has at least one cased character and all cased characters are in uppercase and false otherwise.

In [70]:
str1 = "Hello World"
str1.isupper()

False

###### join(seq)

Merges (concatenates) the string representations of elements in sequence seq into a string, with separator string.

In [71]:
str1 = "Hello World"
str2 = "Good Evening!!"

###### len(string)

Returns the length of the string

In [72]:
str1 = "Hello World"
len(str1)

11

###### lstrip()

Removes all leading whitespace in string.

In [73]:
str1 = '   abd'
str1.lstrip()

'abd'

###### strip([chars])

Performs both lstrip() and rstrip() on string.

In [76]:
str1 = '   abd    '
str1.strip()

'abd'

###### max(str)

Returns the max alphabetical character from the string str.

In [75]:
str1 = "HeloWorr7777ld"
max(str1)

'r'

###### min(str)

Returns the min alphabetical character from the string str.

In [39]:
str1 = "HellloWorrld"
min(str1)

'H'

###### replace(old, new [, max])

Replaces all occurrences of old in string with new or at most max occurrences if max given.

In [77]:
str1 = "Hello World"
str1.replace("World" , "Universe")

'Hello Universe'

###### rfind(str, beg=0,end=len(string))

Same as find(), but search backwards in string.

###### rindex( str, beg=0, end=len(string))

Same as index(), but search backwards in string.

###### rjust(width,[, fillchar])

Returns a space-padded string with the original string right-justified to a total of width columns.

###### rstrip()

Removes all trailing whitespace of string.

In [78]:
str1 = "   Hello World    "
str1.rstrip()

'   Hello World'

###### splitlines( num=string.count('\n'))

Splits string at new line char and return list

In [53]:
str1  = "Hello how \n\n hello world\n"
str1.splitlines()

['Hello how ', '', ' hello world']

###### startswith(str, beg=0,end=len(string))

Determines if string or a substring of string (if starting index beg and ending index end are given) starts with substring str; returns true if so and false otherwise.

In [80]:
str1 = "this is string example....";
str1.startswith( 'this' )

True

In [81]:
str1.startswith( 'is', 2, 4 )

True

In [82]:
str1.startswith( 'this', 2, 4 )

False

###### title()

Returns "titlecased" version of string, that is, all words begin with uppercase and the rest are lowercase.

In [84]:
str1 = "this is string example....";
str1.title()

'This Is String Example....'

###### swapcase()

Inverts case for all letters in string.

In [83]:
str1 = "this is string example....";
str1.swapcase()

'THIS IS STRING EXAMPLE....'

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [39]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'